body {
    background-image: url("Images/BG.jpg");
    background-color: #cccccc;
    opacity: 0.7;
}

.wrap{
    width: 90%;
    margin: auto;
    height: auto;
    background:  rgb(216, 152, 91);
    padding: 10px;
    border-radius: 15px;
    
    text-align: center;
    font-weight: bold;
    font-size: 75px;
    color: rgb(3, 66, 66);
    
}

img {
    
    border: 1px solid rgb(187, 156, 156);
    border-radius: 15px;
    padding: 5px;
    width: 50px;
    position: absolute;
    right: 84%;
    cursor: pointer;
    
  }
  
.calLink {


    background-color: rgb(255, 210, 159);
    border: 0px solid rgb(187, 156, 156);
    border-radius: 15px;
    padding: 5px;
    width: 400px;
    height: 65px;
    position: absolute;
    right: 52%;
    text-indent: 23%;
    color: rgb(0, 0, 0);
    color: rgb(3, 66, 66);
    
    
}

.jumpLink {


    background-color: rgb(255, 210, 159);
    border: 0px solid rgb(187, 156, 156);
    border-radius: 15px;
    padding: 5px;
    width: 400px;
    height: 65px;
    position: absolute;
    right: 5%;
    top: 16%;
    text-indent: 23%;
    color: rgb(0, 0, 0);
    color: rgb(3, 66, 66);
    
    
    
    
}

.CoinFlipLink {


    background-color: rgb(255, 210, 159);
    border: 0px solid rgb(187, 156, 156);
    border-radius: 15px;
    padding: 5px;
    width: 400px;
    height: 65px;
    position: absolute;
    right: 52%;
    top: 16%;
    text-indent: 23%;
    color: rgb(0, 0, 0);
    color: rgb(3, 66, 66);
    top: 30%;
    
    
    
}

.DiceRollLink {


    background-color: rgb(255, 210, 159);
    border: 0px solid rgb(187, 156, 156);
    border-radius: 15px;
    padding: 5px;
    width: 400px;
    height: 65px;
    position: absolute;
    right: 5%;
    top: 16%;
    text-indent: 23%;
    color: rgb(0, 0, 0);
    color: rgb(3, 66, 66);
    top: 30%;
    
    
    
}